In [ ]:
from pandas import read_csv as rc
from pandas import DataFrame as df
from tqdm import tqdm
import numpy as np
import pandas as pd
from statsmodels.tsa.stattools import adfuller
from datetime import datetime

Error: Session cannot generate requests

In [ ]:
df_dict = {}

for asset_id in range(1, 14):
    df_dict[f'Asset_{asset_id}'] = rc(f"/Users/ryanlucas/Desktop/G-Research/Data/Asset-{asset_id}.csv")

In [ ]:
features_dict = {}

for asset_id in range(1, 14):
    features_dict[f'Asset_{asset_id}'] = rc(f"/Users/ryanlucas/Desktop/G-Research/Data/Asset-{asset_id}_features.csv")

In [ ]:
df_dict[f'Asset_1'].describe().iloc[:, 1:].round(2).to_latex("/Users/ryanlucas/Desktop/feature_desc.txt")

In [ ]:
avg_ticks_per_min = []

for asset_id in range(1, 14):
    avg_ticks_per_min.append(df_dict[f"Asset_{asset_id}"][f'A{asset_id}_Count'].mean())

In [ ]:
df_dict['Asset_1']

,A1_timestamp,A1_Count,A1_Open,A1_High,A1_Low,A1_Close,A1_Volume,A1_VWAP,A1_Target
0,1514764860,229,13835.194000,14013.800000,13666.11,13850.176000,31.550062,13827.062090,-0.014643
1,1514764920,235,13835.036000,14052.300000,13680.00,13828.102000,31.046432,13840.362590,-0.015037
2,1514764980,528,13823.900000,14000.400000,13601.00,13801.314000,55.061820,13806.068010,-0.010309
3,1514765040,435,13802.512000,13999.000000,13576.28,13768.040000,38.780529,13783.598100,-0.008999
4,1514765100,742,13766.000000,13955.900000,13554.44,13724.914000,108.501637,13735.586840,-0.008079
...,...,...,...,...,...,...,...,...,...
1048570,1577717580,295,7302.598468,7328.900000,7285.75,7303.691429,22.233366,7303.223206,0.001353
1048571,1577717640,524,7306.661622,7329.000000,7286.00,7305.963333,82.874426,7306.388316,0.001732
1048572,1577717700,335,7303.397104,7329.000000,7286.00,7303.920000,34.950544,7303.383504,0.000479
1048573,1577717760,744,7307.206667,7329.000000,7281.01,7301.865683,74.361918,7304.364645,0.000974
1048574,1577717820,418,7299.977104,7328.999731,7281.01,7303.470000,43.235221,7301.830836,0.001254

In [ ]:
time_stamp_func = lambda x: datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S')

Error: Session cannot generate requests

In [ ]:
real_dates = time_stamp_func(df_dict['Asset_1']['A1_timestamp'])

Error: Session cannot generate requests

In [ ]:
df(avg_ticks_per_min).transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,465.040569,153.560135,239.34986,474.813659,245.570654,689.108555,129.568864,33.485233,225.668431,49.94109,34.80302,119.042857,162.655698